<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puppy.witchcraft.game.model.mapper.store.SqlMapper">

	<resultMap id="itemResultMap" type="com.puppy.witchcraft.game.model.dto.ItemDTO">
		<id property="itemNo" column="ITEM_NO"/>
		<result property="itemType" column="ITEM_TYPE"/>
		<result property="itemName" column="ITEM_NAME"/>
		<result property="itemInfo" column="ITEM_INFO"/>
		<result property="itemSell" column="ITEM_SELL"/>
		<result property="itemBuy" column="ITEM_BUY"/>
		<result property="imageNo" column="IMAGE_NO"/>
	</resultMap>
	
	<resultMap id="imageResultMap" type="com.puppy.witchcraft.game.model.dto.ImageDTO">
	<id property="imageNo" column="IMAGE_NO"/>
	<result property="imageSave" column="IMAGE_SAVE"/>
	<result property="imageName" column="IMAGE_NAME"/>
	<result property="imageType" column="IMAGE_TYPE"/>
	</resultMap>

	<resultMap id="itemInvenResultMap" type="com.puppy.witchcraft.game.model.dto.MyItemInven">
	<id property="itemNo" column="ITEM_NO"/>
	<result property="itemCount" column="ITEMCOUNT"/>
	<result property="imageNo" column="IMAGE_NO"/>
	</resultMap>
	
	<select id="selectItem" resultMap="itemResultMap" parameterType="_int">
		SELECT
		    A.ITEM_NO
		  , A.ITEM_TYPE
		  , A.ITEM_NAME
		  , A.ITEM_INFO
		  , A.ITEM_SELL
		  , A.ITEM_BUY
		  , A.IMAGE_NO
	    FROM ITEM A
	   WHERE A.ITEM_NO = #{ itemNo }
	</select>
	
	<delete id="deleteSellItem" parameterType="HashMap">
		DELETE FROM ITEM_INVEN I2
		 WHERE I2.INVEN_NO = (
				     	   SELECT P.INVEN_NO
      					   FROM (
              				 	 SELECT ROWNUM R, V.*
             			           FROM (
                   						 SELECT *
                     				       FROM ITEM_INVEN I
                                          WHERE I.P_NO = #{ playerNo }
                                            AND I.ITEM_NO = #{ itemNo }
                                          ORDER BY I.INVEN_NO
              							 ) v
               
      						    )P
                          WHERE P.R = 1
                        )
	</delete>

	<select id="myItemInven" resultMap="itemInvenResultMap" parameterType="_int">
	SELECT
	       A.ITEM_NO
         , COUNT(*) as ITEMCOUNT
         , A.IMAGE_NO
 	  FROM ITEM A
  	  JOIN ITEM_INVEN B ON(A.ITEM_NO = B.ITEM_NO)
  	 WHERE B.P_NO = 1
     GROUP BY A.ITEM_NO, A.IMAGE_NO
     HAVING COUNT(*) > 0
	</select>

	<select id="storeList" resultMap="itemResultMap">
		SELECT
		    A.ITEM_NO
		  , A.ITEM_TYPE
		  , A.ITEM_NAME
		  , A.ITEM_INFO
		  , A.ITEM_SELL
		  , A.ITEM_BUY
		  , A.IMAGE_NO
	    FROM ITEM A
	   WHERE A.ITEM_TYPE = 'STORE'
	</select>
	
	<select id="imageUrl" resultMap="imageResultMap" parameterType="_int">
	SELECT
		   I.IMAGE_NO
		 , I.IMAGE_SAVE
		 , I.IMAGE_NAME
		 , I.IMAGE_TYPE
	  FROM IMAGE I
	 WHERE IMAGE_NO = #{ imageNo }
	 
	</select>

    <update id="updatePlayerGold" parameterType="HashMap">
	UPDATE
	       PLAYER
	   SET
	  	   P_GOLD = #{ playerGold }
	 WHERE P_NO = #{ playerNo }

	</update>
	
	<insert id="insertstoreitem" parameterType="hashmap">
      INSERT 
        INTO ITEM_INVEN
       (
        INVEN_NO,
        P_NO,
        ITEM_NO
       )
       VALUES
       (
         SEQ_ITEM_INVEN_NO.NEXTVAL,
         #{ playerNo },
         #{ itemNo }
       )
   </insert>
   
</mapper>