<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.puppy.witchcraft.game.model.mapper.craft.SqlMapper">

<resultMap id="itemInvenResultMap" type="com.puppy.witchcraft.game.model.dto.MyItemInven">
	<id property="itemNo" column="ITEM_NO"/>
	<result property="itemCount" column="ITEMCOUNT"/>
	<result property="imageNo" column="IMAGE_NO"/>
</resultMap>

<select id="myItemInven" resultMap="itemInvenResultMap" parameterType="_int">
	SELECT
	       A.ITEM_NO
         , COUNT(*) as ITEMCOUNT
         , A.IMAGE_NO
 	  FROM ITEM A
  	  JOIN ITEM_INVEN B ON(A.ITEM_NO = B.ITEM_NO)
  	 WHERE B.P_NO = 1
     GROUP BY A.ITEM_NO, A.IMAGE_NO
     HAVING COUNT(*) > 0
</select>

<resultMap id="imageResultMap" type="com.puppy.witchcraft.game.model.dto.ImageDTO">
	<id property="imageNo" column="IMAGE_NO"/>
	<result property="imageSave" column="IMAGE_SAVE"/>
	<result property="imageName" column="IMAGE_NAME"/>
	<result property="imageType" column="IMAGE_TYPE"/>
</resultMap>

<select id="selectImage" resultMap="imageResultMap" parameterType="_int">
	SELECT
		   I.IMAGE_NO
		 , I.IMAGE_SAVE
		 , I.IMAGE_NAME
		 , I.IMAGE_TYPE
	  FROM IMAGE I
	 WHERE IMAGE_NO = #{ imageNo }
</select>

<resultMap id="recipeAndPotionResultMap" type="com.puppy.witchcraft.game.model.dto.RecipeAndPotion">
	<id property="potionNo" column="POTION_NO"/>
	<collection property="itemList" ofType="com.puppy.witchcraft.game.model.dto.ItemDTO">
		<result property="itemNo" column="ITEM_NO"/>
		<result property="itemType" column="ITEM_TYPE"/>
		<result property="itemName" column="ITEM_NAME"/>
		<result property="itemInfo" column="ITEM_INFO"/>
		<result property="itemSell" column="ITEM_SELL"/>
		<result property="itemBuy" column="ITEM_BUY"/>
		<result property="imageNo" column="IMAGE_NO"/>
	</collection>
</resultMap>

<select id="selectAllRecipe" resultMap="recipeAndPotionResultMap">
	SELECT
	       R.POTION_NO
	     , I.ITEM_NO
	     , I.ITEM_TYPE
	     , I.ITEM_NAME
	     , I.ITEM_INFO
	     , I.ITEM_SELL
	     , I.ITEM_BUY
	     , I.IMAGE_NO
	 FROM RECIPE R
	 LEFT JOIN ITEM I ON (R.ITEM_NO = I.ITEM_NO)
	ORDER BY R.RECIPE_NO
</select>

<resultMap id="recipeResultMap" type="com.puppy.witchcraft.game.model.dto.RecipeDTO">
	<id property="recipeNo" column="RECIPE_NO"/>
	<result property="itemNo" column="ITEM_NO"/>
	<result property="potionNo" column="POTION_NO"/>
</resultMap>

<select id="selectRecipe" resultMap="recipeResultMap" parameterType="_int">
	SELECT
	       R.RECIPE_NO
	     , R.ITEM_NO
	     , R.POTION_NO
	 FROM RECIPE R
	 WHERE R.POTION_NO = #{ potion_no }
	 ORDER BY R.RECIPE_NO
</select>

<resultMap id="recipeItemResultMap" type="com.puppy.witchcraft.game.model.dto.RecipeItem">
    <id property="itemNo" column="ITEM_NO"/>
	<result property="itemCount" column="ITEM_COUNT"/>
	<result property="potionNo" column="POTION_NO"/>
</resultMap>

<select id="selectRecipeItems" resultMap="recipeItemResultMap" parameterType="_int">
	SELECT
	       R.ITEM_NO
         , COUNT(R.ITEM_NO) AS ITEM_COUNT
         , R.POTION_NO
 	  FROM RECIPE R
	 WHERE R.POTION_NO = #{ potionNo }
	 GROUP BY R.POTION_NO, R.ITEM_NO
</select>

<resultMap id="potionResultMap" type="com.puppy.witchcraft.game.model.dto.PotionDTO" >
	<id property="potionNo" column="POTION_NO"/>
	<result property="potionName" column="POTION_NAME"/>
	<result property="potionSell" column="POTION_SELL"/>
	<result property="potionInfo" column="POTION_INFO"/>
	<result property="imageNo" column="IMAGE_NO"/>
</resultMap>

<select id="selectPotion" resultMap="potionResultMap" parameterType="_int">
	SELECT
	       P.POTION_NO
	     , P.POTION_NAME
	     , P.POTION_SELL
	     , P.POTION_INFO
	     , P.IMAGE_NO
	  FROM POTION P
	 WHERE P.POTION_NO = #{ potionNo }
</select>

<insert id="insertPotionInven" parameterType="HashMap">
	INSERT 
	INTO POTION_INVEN
	(
	INVEN_NO,
	P_NO,
	POTION_NO
	)
	VALUES
	(
	SEQ_POTION_INVEN_NO.NEXTVAL,
	#{ playerNo },
	#{ potionNo }
	)
</insert>

<delete id="deleteUseItem" parameterType="HashMap">
	DELETE FROM ITEM_INVEN I2
	 WHERE I2.INVEN_NO = (
				     	   SELECT P.INVEN_NO
      					   FROM (
              				 	 SELECT ROWNUM R, V.*
             			           FROM (
                   						 SELECT *
                     				       FROM ITEM_INVEN I
                                          WHERE I.P_NO = #{ playerNo }
                                            AND I.ITEM_NO = #{ itemNo }
                                          ORDER BY I.INVEN_NO
              							 ) v
               
      						    )P
                          WHERE P.R = 1
                        )
</delete>

</mapper>